body {
  background-color: #1A1B26;
  color: rgb(196, 196, 196);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* lOADING PAGE */

.loading-container {
  font-weight: bold;
  font-size:70px;
  margin: 100px auto;
  max-width: 1000px;
  text-align: center;
}

/* START PAGE */

.start-title {
  font-size: 70px;
}

.start{
  max-width: 500px;
  text-align: center;
  margin: 300px auto;
}

.start h1 { 
  color: #4D5B9E;
}

.start-btn {
  background-color: #4D5B9E;
  text-align: center;
  font-size: 23px;
  height: 70px;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 0 30px;
  background: #465bc5;
  box-shadow: 0 5px #797be7;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.start-btn:hover {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}

.start-btn:active {
  box-shadow: 0 0 #9392a7;
  top: 5px;
}

.start a {
  text-decoration: none;
  color: white;
}

/* QUIZ PAGE */

.quizpage-container {
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

.quizpage-title {
  text-align: center;
  color: #6e7fd4;
  font-size: 50px;
}

/* QUESTION COMPONENTS */

.question-box {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 17px 10px;
}

.question-number {
  color: #6e7fd4;
}

/* QUESTION BUTTONS */

.unselected {
  background: #414d8b;
  box-shadow: 0 3px #869afd;
  color: rgb(196, 196, 196);
}

.selected {
  background: #7385dd;
  box-shadow: 0 3px #e7e7e7;
  color: black;
}

.wrong {
  background: rgb(199, 73, 73);
  box-shadow: 0 3px #f07b7b;
}

.correct {
  background: rgb(117, 204, 117);
  box-shadow: 0 3px #b3fcb3;
}

button:disabled,
button[disabled]{
  color: black;
}

.answer-btn {
  min-width: 130px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
}

.answer-btn:hover {
  top: 1px;
}

.answer-btn:active {
  top: 5px;
}

.endgame-btn {
  margin: 45px 10px;
  min-width: 200px;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #465bc5;
  box-shadow: 0 5px #6282b3;
}

.endgame-btn:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}

.endgame-btn:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}


