body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.start{
  max-width: 500px;
  text-align: center;
  margin: 300px auto;
}

.start h1 { 
  color: #4D5B9E;
}

.start button {
  background-color: #4D5B9E;
  text-align: center;
  font-size: 20px;
  height: 60px;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 0 30px;
}

.start a {
  text-decoration: none;
  color: white;
}

.selected {
  background-color: #4D5B9E;
}

.wrong {
  background-color: rgb(199, 73, 73);
}

.correct {
  background-color: rgb(117, 204, 117);
}

.unselected {
  background-color: aliceblue;
}